.card {
    display: flex;
    background-color: #fff;
    padding: 3rem .3rem;
    border-radius: 2rem;
    flex-direction: column;
    color: #000;
    width: 15rem;
    align-items: center;
    margin: 2rem 1rem;
}

.card>h2{
    font-size: 2rem;
}

.card>p {
    font-size: larger;
    padding: 0 .5rem;
}