.card {
    display: flex;
    background-color: #fff;
    padding: 3rem 2.5rem;
    border-radius: 2rem;
    flex-direction: column;
    color: #000;
    width: 20rem;
    align-items: center;
    margin: 2rem 1rem;
    min-height: 25rem;
    justify-content: space-between;
}

.card>h2{
    font-size: 2rem;
}

.card>p {
    font-size: larger;
    padding: 0 .5rem;
}

.card>img {
    margin: 1rem 0;
}