.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.faqs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}