
.myBtn {
    width: -webkit-fill-available;
    height: 38px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

.regular {
    background-color: transparent;
    border: 1px solid #cfcfcf;
}

.regular:hover {
    border: 1px solid #979797;
}

.secondary {
    background-color: #33c3f0;
    border: 1px solid #33c3f0;
    color: #fff;
}

.secondary:hover {
    background-color: #1495bd;
    border: 1px solid #1495bd;
}