.container {
    display: flex;
    flex-direction: column;
    margin: .8rem 0;
    width:  -webkit-fill-available;
}

.input, .textarea {
    min-height: 2rem;
    padding: 3px .5rem;
    width: inherit;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
}

.textarea {
    resize: vertical;
}

.label {
    font-size: 1rem;
    font-weight: 700;
}